<html>
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/task/books">Books</a>
</nav>
<main role="main" class="container">
    List of Books
    <div class="result">

    </div>
</main>
<script>
    function openDetails(id) {
        window.location.href = `/task/books/${id}/details`;
    }

    $.get("/api/books", function (books) {
        var template = `
        {{#books}}
        <div class="row" style="margin: 10px; padding: 20px; background: #fafafa">
            <div class="col-md-2"><img src="{{image}}" alt="{{name}}" height="200"/></div>
            <div class="col-md-6">
                <p>{{name}}</p>
                <p><strong>{{price}}</strong></p>
            </div>
            <div class="col-md-4 "><div class="pull-right">
            <button
                type="button"
                class="btn btn-primary"
                onclick="openDetails('{{id}}')">
                More
            </button>
            </div>
            </div>
        </div>
        {{/books}}`;
        $(".result").html(Mustache.render(template, {books}));
    });
</script>
</body>
</html>
